<!DOCTYPE html>
<html>
    <head>
        <title>Hacker News</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Hacker News</h1>
                <h5>Powered by <a href="https://hn.algolia.com/api/">Hacker News API</a></h5>
            </div>
        </div>
    </body>
</html>